<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Trash
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Trash</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>List of things that are Bunz</h1>

  <ng-container>
    <ion-item *ngFor="let trash of listOfTrash">
      <p *ngIf="!isLoading">{{ trash.name }}</p>
      <ion-skeleton-text *ngIf="isLoading" animated style="width: 50%"></ion-skeleton-text>
    </ion-item>
  </ng-container>


</ion-content>
